$font-sizes-regular: (
    'body-regular-1': (
        18,
        28,
    ),
    'body-regular-2': (
        16,
        24,
    ),
    'body-regular-3': (
        14,
        20,
    ),
    'body-regular-4': (
        12,
        16,
    ),
);

$font-sizes-medium: (
    'body-medium-1': (
        18,
        28,
    ),
    'body-medium-2': (
        16,
        24,
    ),
    'body-medium-3': (
        14,
        20,
    ),
    'body-medium-4': (
        12,
        16,
    ),
);

$heading-types: (
    'h1': (
        64,
        76,
    ),
    'h2': (
        36,
        44,
    ),
    'h3': (
        28,
        36,
    ),
    'h4': (
        20,
        28,
    ),
);
